body{
    font-size: 16px;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: Oswald, sans-serif;
    font-weight: 700;
}
img, table{
    max-width: 100%;
    height: auto;
}
a{
    color: #444;
    font-weight: 700;
}
.content p{
    opacity: 0.8;
}
.btn-outline{
    padding: 7px 15px 8px;
    border: 2px solid #fff;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.btn-outline i{
    float: right;
}
.btn-outline span{
    margin-top: 5px;
    margin-right: 15px;
    font-size: 1.1em;
    display: inline-block;
}
.btn-outline:hover{
    background-color: #fff;
    color: #444;
}
.container{
    max-width: 1600px;
}
.jumbotron{
    margin-bottom: 0;
    text-align: center;
    position: relative;
    background-size: cover;
    color: #fff;
    padding: 0;
}
.jumbotron > *{
    position: relative;
    z-index: 2;
}
.jumbotron:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.jumbotron h3{
    font-size: 11em;
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    color: #fff;
    text-shadow: 0 0 35px rgba(0,0,0,0.5);
    font-family: Oswald;
    font-weight: 300;
    clear: both;
}
.jumbotron h3 span{
    display: block;
    font-size: 12px;
    font-family: Oswald;
    font-weight: 300;
    margin-top: 25px;
}
.jumbotron a{
    color: #fff;
    font-weight: 400;
}
.companys img{
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition: -webkit-opacity 0.3s, -webkit-transform 0.3s;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
.companys img:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.companys > div{
    overflow: hidden;
}
.top-line{
    position: fixed;
    width: 100%;
    top: 0;
}
.vidbg{
    height: 100%;
}
video#vid{
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    right: 0;
}
.content{
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.nopadding{
    padding: 0;
}
.text-right img{
    opacity: 0.80;
    width: 100px;
    margin-top: 20px;
    margin-right: 5px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1) translateY(-50%); }
    50% { -webkit-transform: scale(1.1) translateY(-50%); }
    100% { -webkit-transform: scale(1) translateY(-50%); }
}
@keyframes pulse {
    0% { transform: scale(1) translateY(-50%); }
    50% { transform: scale(1.1) translateY(-50%); }
    100% { transform: scale(1) translateY(-50%); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite;
}